@{
    ViewBag.Title = "Home Page";
}

<table id="placesList" class="table">
    <thead>
        <tr>
            <th>
                Your places
            </th>

            <th>

            </th>

            <th>

            </th>
        </tr>
    </thead>

    <tbody id="content">
        @{
            foreach (Nearsens.Models.GetPlacesByUserIdQuery place in Model.places)
            {
                <tr id="@place.Id">
                    <td> <a href="@Url.Action("PlaceOffers/" + place.Id, "Home")"> @place.Name </a> </td>
                    <td> <a href="@Url.Action("PlaceDetail/" + place.Id, "Home")" class="btn btn-info"> Info </a> </td>
                    <td> <a class="btn btn-danger btnDeletePlace"> Delete </a> </td>
                </tr>
            }
        }
    </tbody>

</table>

<a class="btn btn-success" id="btnAddPlace" data-toggle="modal" data-target="#newPlaceModal"> Add place </a>

<div id="newPlaceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New place</h4>
            </div>
            <form id="newPlaceForm">
                <div class="modal-body">


                    <input type="text" id="txtName" class="form-control" placeholder="Name" required />
                    <textarea id="txtDescription" class="form-control" placeholder="Description" required></textarea>
                    <select id="slctCategory" class="form-control" required>
                        <option value="AC">Attività commerciale</option>
                        <option value="POI">POI</option>
                    </select>
                    <select id="slctSubcategory" class="form-control" required>
                        @{
                            foreach (string subcategory in Model.subcategories)
                            {
                                <option value="@subcategory">@subcategory</option>
                            }
                        }
                    </select>

                    <input type="number" id="txtLat" class="form-control" placeholder="Latitude" step="any" required />
                    <input type="number" id="txtLng" class="form-control" placeholder="Longitude" step="any" required />



                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="uploadPhotosModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Place photos</h4>
            </div>
            <div class="modal-body">

                <label class="label label-info col-lg-12" for="icon">Icon</label>
                <br />
                <input type="file" id="icon" class="form-control col-lg-10" /> <input id="btnUploadIcon" type="button" class="btn btn-success btn-sm col-lg-2" value="Upload" />
                <br style="clear:both" />
                <label class="label label-info col-lg-12" for="photos">Photos</label>
                <br />
                <input type="file" id="photos" class="form-control col-lg-10" multiple /> <input id="btnUploadPhotos" type="button" class="btn btn-success btn-sm col-lg-2" value="Upload" />

            </div>
            <div class="modal-footer">
                <button type="submit" id="btnDone" class="btn btn-info" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        var newPlaceId;

        $('#newPlaceForm').on('submit', function (e) {
            e.preventDefault();

            var place = {};
            place.Name = $('#txtName').val();
            place.Description = $('#txtDescription').val();
            place.MainCategory = $('#slctCategory').val();
            place.Subcategory = $('#slctSubcategory').val();
            place.Lat = $('#txtLat').val().replace(",", ".");
            place.Lng = $('#txtLng').val().replace(",", ".");

            $.ajax({
                url: '/api/Places',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(place),
                success: function (data) {
                    newPlaceId = data;
                    alert('Place added');
                    $('#newPlaceModal').modal('hide');
                    $('#uploadPhotosModal').modal('show');
                    //location.reload();
                },
                error: function (error) {
                    alert('Error on Login' + error.statusCode);
                }
            });
        });

        $('.btnDeletePlace').on('click', function () {

            var placeId = $(this).parent().parent().attr('id');

            $.ajax({
                url: '/api/Places/' + placeId,
                type: 'DELETE',
                success: function (data) {
                    alert('Place removed');
                    location.reload();
                },
                error: function (error) {
                    alert('Error on Login' + error.statusCode);
                }
            });
        });

        $('#btnUploadIcon').on('click', function () {

            var files = $("#icon").get(0).files;
            if (files.length > 0) {
                var icon = new FormData();
                icon.append("file0", files[0]);
                uploadIcon(icon);
            }
        });

        $('#btnUploadPhotos').on('click', function () {

            var files = $("#photos").get(0).files;
            if (files.length > 0) {
                var photos = new FormData();
                for (i = 0; i < files.length; i++) {
                    photos.append("file" + i, files[i]);
                }
                uploadPhotos(photos);
            }
        });

        $('#btnDone').on('click', function () {
            location.reload();
        });

        function uploadIcon(icon) {
            $.ajax({
                type: "POST",
                url: "/api/FileUpload/UploadPlaceIcon?placeId=" + newPlaceId,
                contentType: false,
                processData: false,
                data: icon,
                success: function (messages) {
                    alert('Icon uploaded');
                },
                error: function (error) {
                    alert("Upload failed");
                }
            });
        }

        function uploadPhotos(photos) {
            $.ajax({
                type: "POST",
                url: "/api/FileUpload/UploadPlacePhotos?placeId=" + newPlaceId,
                contentType: false,
                processData: false,
                data: photos,
                success: function (messages) {
                    alert('Photos uploaded');
                },
                error: function (error) {
                    alert("Upload failed");
                }
            });
        }
    </script>
}

