@{
    ViewBag.Title = "Home Page";
}

<table id="placesList" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th>
                
            </th>

            <th>
                
            </th>
        </tr>
    </thead>

    <tbody id="content">
        @{
            foreach (Nearsens.Models.GetPlacesByUserIdQuery place in Model.places)
            {
                <tr id="@place.Id">
                    <td> <a href="@Url.Action("PlaceOffers/" + place.Id, "Home")"> @place.Name </a> </td>
                    <td> <a href="@Url.Action("PlaceDetail/" + place.Id, "Home")" class="btn btn-info"> Info </a> </td>
                    <td> <a class="btn btn-danger btnDeletePlace"> Delete </a> </td>
                </tr>
            }
        }
    </tbody>

</table>

<a class="btn btn-success" id="btnAddPlace" data-toggle="modal" data-target="#myModal"> Add place </a>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New place</h4>
            </div>
            <form id="newPlaceForm">
                <div class="modal-body">


                    <input type="text" id="txtName" class="form-control" placeholder="Name" required />
                    <textarea id="txtDescription" class="form-control" placeholder="Description" required></textarea>
                    <select id="slctCategory" class="form-control" required>
                        <option value="AC">Attività commerciale</option>
                        <option value="POI">POI</option>
                    </select>
                    <select id="slctSubcategory" class="form-control" required>
                        @{
                            foreach (string subcategory in Model.subcategories)
                            {
                                <option value="@subcategory">@subcategory</option>
                            }
                        }
                    </select>

                    <input type="number" id="txtLat" class="form-control" placeholder="Latitude" step="any" required />
                    <input type="number" id="txtLng" class="form-control" placeholder="Longitude" step="any" required />

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
       

        $('#newPlaceForm').on('submit', function (e) {
            e.preventDefault();

            var place = {};
            place.Name = $('#txtName').val();
            place.Description = $('#txtDescription').val();
            place.MainCategory = $('#slctCategory').val();
            place.Subcategory = $('#slctSubcategory').val();
            place.Lat = $('#txtLat').val();
            place.Lng = $('#txtLng').val();

            $.ajax({
                url: '/api/Places',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(place),
                success: function (data) {
                    alert('Place added');
                    location.reload();
                },
                error: function (error) {
                    alert('Error on Login' + error.statusCode);
                }
            });
        });

        $('.btnDeletePlace').on('click', function () {
            
            var placeId = $(this).parent().parent().attr('id');

            $.ajax({
                url: '/api/Places/' + placeId,
                type: 'DELETE',
                success: function (data) {
                    alert('Place removed');
                    location.reload();
                },
                error: function (error) {
                    alert('Error on Login' + error.statusCode);
                }
            });
        });
    </script>
}

