@{
    ViewBag.Title = "PlaceDetail";
    var currentPlace = Model.place;
}
<br />

<p>Title</p>
<input class="form-control" id="txtName" type="text" value="@currentPlace.Name" />
<p>Description</p>
<textarea class="form-control" id="txtDescription">@currentPlace.Description</textarea>
<p>Latitude</p>
<input class="form-control" id="txtLat" type="text" value="@currentPlace.Lat.ToString().Replace(",", ".")" />
<p>Longitude</p>
<input class="form-control" id="txtLng" type="text" value="@currentPlace.Lng.ToString().Replace(",", ".")" />

<p>Main category</p>
<select id="slctCategory" class="form-control" required>
    @{
        if (currentPlace.MainCategory.Equals("AC"))
        {

            <option value="AC" selected>AC</option>
            <option value="POI">POI</option>
        }
        else
        {

            <option value="AC">Commercial activity</option>
            <option value="POI" selected>Point of interest</option>
        }


    }
</select>

<p>Subcategory</p>
<select id="slctSubcategory" class="form-control" required>
    @{
        foreach (string subcategory in Model.subcategories)
        {
            if (@currentPlace.Subcategory.Equals(subcategory))
            {
                <option value="@currentPlace.Subcategory" selected>@currentPlace.Subcategory</option>
            }
            else
            {
                <option value="@subcategory">@subcategory</option>
            }
        }
    }
</select>
<br />
<input class="btn btn-group" id="btnUpdatePlace" type="button" value="Update" />

@section scripts {
    <script type="text/javascript">
        $('#btnUpdatePlace').on('click', function (e) {

            var place = {};
            place.Name = $('#txtName').val();
            place.Description = $('#txtDescription').val();
            place.MainCategory = $('#slctCategory').val();
            place.Subcategory = $('#slctSubcategory').val();
            place.Lat = parseFloat($('#txtLat').val());
            place.Lng = parseFloat($('#txtLng').val());
            place.Id = @currentPlace.Id;



            console.log(place);

            $.ajax({
                url: '/api/Places/',
                type: 'PUT',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(place),
                success: function (data) {
                    alert('Place updated');
                    location.reload();
                },
                error: function (error) {
                    alert('Error on Login' + error.statusCode);
                }
            });
        });
    </script>
}

